@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #F5E7E2;
  --color-secondary: #AEC0D1;
  --color-background: #EFE9DD;
  --color-border: #B3B3B3;

  --color-accent-warm: #C5B29B;
  --color-accent-cool: #BFCFD0;
}

@theme {
  colors: {
    'primary':'var(--color-primary)',
    'secondary' : 'var(--color-secondary)',
    'background': 'var(--color-background)',
    'border': 'var(--color-border)',
    'accent-warm': 'var(--color-accent-warm)',
    'accent-cool':'var(--color-accent-cool)',

    'white': '#ffffff',
    'black': '#000000',
  }
}


